@charset "utf-8";
/* CSS Document */

body { /* Applies the color and scrolling */
	background-color: #00BFFF;
	overflow-y: scroll; 
	overflow-x: hidden;
	}

a:link { /* Applies to all of the hyperlinks that are not in the navigation bar */
	color: black;
	text-decoration: none;
	}

a:hover {
	color: blue;
	}

a:active {
	color: white;
	}

a:visited {
	color: darkblue;
	}

p { /* Boldens all of the paragraphs*/
	font-weight: bold;
	}

.top_text { /* Applies to all of the headline text for the main conent */
	font-size: 28px;
	position: absolute;
	left: 50px;
	}

header { /* Applies to the top part of the webpage*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background-color: #00BFFF;
	overflow: auto;
	}

.logo { /* Applies to the logo */
	color: #1134a6;
	font-family: "Cambria";
	position: absolute;
	top: 10px;
    left: 8px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	}

.profile { /* Applies to the profile picture */
	width: 40px;
	float: right;
	display: block;
	position: absolute;
	top: 10px;
    right: 2px; 
	}

#table { /* Applies to the navigation bar as a whole */
	border-width: 2px 0 0 2px;
	margin:-2px 0 0 -2px;
	border: solid black;
	background-color: navy;
  	height: 31px;
	width: 100%;
  	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 60px;
    left: 0px;
	}

.cell { /* Applies to the individual buttons */
	font-size: 100%;
	border-width: 2px 0 0 2px;
	margin:-2px 0 0 -2px;
	border: solid black;
	background-color: navy;
	float: left;
	padding: 5px;
	width: 140px;
	height: 20px;
	}

#contributors { /* Applies to the "CONTRIBUTORS" button to accomodate for the length of the text */
	width: 220px;
	}

#search_bar {  /* Applies to the search bar */
	width: auto; 
	text-align: right;
	margin:-2px 0 0 -2px;
	height: 20px;
	float: right;
	}

.cell > a:link { /* Applies to all of the hyperlinks that are in the navigation bar */
	color: skyblue;
	text-decoration: none
	}

.cell > a:hover {
	color: blue;
	}

.cell > a:active {
	color: white;
	}

.cell > a:visited {
	color: cadetblue;
	}


@media screen and (max-width: 1250px) { /* Shrinks the font size, shortens the height and width of the table and cells, and deceases padding */
	
#table {
	height: 24px;
	}

.cell {
	font-size: 90%;
	padding: 2px;
	width: 120px;
	}

#contributors {
	width: 140px;
	}

#search_bar {
	width: 120px; 
	}
}

@media screen and (max-width: 940px) { /* Shrinks the font size and shortens the height and width of the table and cells */
	
#table {
	height: 24px;	
	}

.cell {
	font-size: 80%;
	width: 110px;
	height: 20px;
	}

#contributors {
	width: 130px;
	}

#search_bar {
	width: 85px; 
	}
	}
	
@media screen and (max-width: 830px) { /* Shrinks the font size and shortens the height and width of the cells */
	
.cell {
	font-size: 70%;
	width: 110px;
	}

#contributors {
	width: 120px;
	}

#search_bar {
	width: 55px;
	}	
}
	
@media screen and (max-width: 790px) { /* Shrinks the font size and shortens the height and width of the table and cells */
	
#table {
	height: 22px;
	}

.cell {
	font-size: 70%;
	width: 100px;
	height: 17.6px;
	}

#contributors {
	width: 110px;
	}
	
#search_bar {
	height: 16px;
	}
	
}
	
@media screen and (max-width: 730px) { /* Shrinks the font size and shortens the height and width of the table and cells */
	
#table {
	height: 18px;
	}

.cell {
	font-size: 60%;
	width: 58px;
	height: 13.6px;
	}

#contributors {
	width: 90px;
	}
	
#search_bar {
	height: 12px;
	}
}

