@charset "utf-8";
/* CSS Document */

.discussions_icon {
	width: 38px;
	float: left;
	position: absolute;
	top: 962px;
	}

#discussions {
	top: 940px;
	}

.discussions_line {
	background-color: black;
	border: 2px solid black; 
	width: 790px; 
	position: absolute;
	top: 990px;
	}

.discussions_view_more {
	width: 80px; 
	position: absolute;
	top: 963px;
	left: 730px;
	}

.discussions_titles {
	position: absolute;
	top: 984px;
	}

h5.author_discussions {
	position: absolute; 
	top: 1014px;
	left: 24px;
	}

img.author_discussions {
	width: 12px;
	position: absolute;
	top: 1036px;
	left: 8px;
	}

h5.time_discussions {
	position: absolute; 
	top: 1014px;
	left: 122px;
	}

img.time_discussions {
	width: 15px;
	position: absolute;
	top: 1036px;
	left: 102px;
	}

h5.folders_discussions {
	position: absolute; 
	top: 1014px;
	left: 218px;
	}

img.folders_discussions {
	width: 16px; 
	position: absolute;
	top: 1038px;
	left: 200px;
	}

h5.comments_discussions {
	position: absolute; 
	top: 1014px;
	left: 572px;
	}

img.comments_discussions {
	width: 12px;
	position: absolute;
	top: 1038px;
	left: 556px;
	}

.discussions_thumbnails {
	position: absolute; 
	top: 1056px;
	width: 270px;
	}

.discussions_descriptions {
	width: 522px;
	position: absolute;
	top: 1048px;
	left: 296px;
	}

span {
	font-style: italic;
	}

.discussions_read_more {
	width: 95px; 
	background-color: skyblue; 
	border: 2px solid black; 
	text-align: center; 
	position: absolute; 
	top: 1114px;
	left: 296px;
	}

.discussions_image_source {
	position: absolute; 
	top: 1194px;
	}

@media screen and (max-width: 830px) {
	
.discussions_line {
	width: 730px;
	}
	
.discussions_view_more {
	top: 963px;
	left: 670px;
	}

.discussions_titles {
	font-size: 20px;
	top: 988px;
	}

h5.author_discussions {
	top: 1006px;
	}

img.author_discussions {
	top: 1028px;
	}	

h5.time_discussions {
	top: 1006px;
	}

img.time_discussions {
	top: 1028px;
	}

h5.folders_discussions {
	top: 1006px;

	}

img.folders_discussions {
	top: 1030px;
	}

h5.comments_discussions {
	top: 1004px;
	}

img.comments_discussions {
	top: 1030px;
	}

.discussions_thumbnails { 
	top: 1046px;
	}

.discussions_descriptions {
	width: 408px;
	top: 1038px;
	}

.discussions_read_more {
	top: 1114px;
	}

.discussions_image_source {
	top: 1184px;
	}
	
	}

@media screen and (max-width: 790px) {
	
.discussions_icon {
	top: 832px;
	}
	
#discussions {
	top: 810px;
	}
	
.discussions_line {
	top: 860px;
	}
	
.discussions_view_more {
	top: 833px;
	left: 600px;
	}
	
.discussions_titles {
	top: 854px;
	}
	
h5.author_discussions {
	top: 880px;
	font-size: 12px;
	}
	
img.author_discussions {
	top: 900px;
	width: 10px;
	}
	
h5.time_discussions {
	top: 880px;
	left: 114px;
	font-size: 12px;
	}
	
img.time_discussions {
	top: 899px;
	left: 96px;
	width: 14px;
	}
	
h5.folders_discussions {
	top: 880px;
	left: 200px;
	font-size: 12px;
	}
	
img.folders_discussions {
	top: 902px;
	left: 182px;
	width: 14px;
	}
	
h5.comments_discussions {
	top: 880px;
	left: 520px;
	font-size: 12px;
	}
	
img.comments_discussions {
	top: 902px;
	left: 506px;
	width: 10px;
	}
	
.discussions_thumbnails {
	top: 922px;
	width: 196px;
	}
	
.discussions_descriptions {
	top: 912px;
	left: 220px;
	}
	
.discussions_read_more {
	top: 982px;
	left: 220px;
	}
	
.discussions_image_source {
	top: 1020px;
	}
	}

@media screen and (max-width: 730px) {
	
.discussions_icon {
	top: 802px;
	}
	
#discussions {
	top: 780px;
	}
	
.discussions_view_more {
	top: 803px;
	left: 550px;
	}
	
.discussions_line {
	top: 830px;
	}
	
.discussions_titles {
	font-size: 18px;
	top: 828px
	}
	
h5.author_discussions {
	font-size: 10px;
	top: 850px;
	left: 20px;
	}
	
img.author_discussions {
	top: 866px;
	width: 8px;
	}
	
h5.time_discussions {
	top: 850px;
	left: 96px;
	font-size: 10px;
	}
	
img.time_discussions {
	top: 865px;
	left: 80px;
	width: 12px;
	}
	
h5.folders_discussions {
	top: 850px;
	left: 168px;
	font-size: 10px;
	}
	
img.folders_discussions {
	top: 868px;
	left: 152px;
	width: 12px;
	}
	
h5.comments_discussions {
	top: 850px;
	left: 434px;
	font-size: 10px;
	}
	
img.comments_discussions {
	top: 868px;
	left: 424px;
	width: 8px;
	}
	
.discussions_thumbnails {
	width: 176px;
	top: 886px;
	}
	
.discussions_descriptions {
	font-size: 78%;
	width: 370px;
	top: 882px;
	left: 196px;
	}
	
.discussions_read_more {
	top: 940px;
	left: 196px;
	}
	
.discussions_image_source {
	top: 974px;
	}
	}

@media screen and (max-width: 640px) {
	
.discussions_icon {
	top: 740px;
	}
	
#discussions {
	top: 718px;
	}
	
.discussions_line {
	top: 768px;
	}
	
.discussions_view_more {
	top: 739px;
	left: 425px;
	}
	
.discussions_titles {
	font-size: 14.6px;
	top: 771px
	}
	
h5.author_discussions {
	top: 788px;
	left: 20px;
	font-size: 9px;
	}
	
img.author_discussions {
	top: 804px;
	width: 7px;
	}
	
h5.time_discussions {
	top: 789px;
	left: 88px;
	font-size: 9px;
	}
	
img.time_discussions {
	top: 803px;
	left: 74px;
	width: 11px;
	}
	
h5.folders_discussions {
	top: 789px;
	left: 152px;
	font-size: 9px;
	}
	
img.folders_discussions {
	top: 805px;
	left: 138px;
	width: 11px;
	}
	
h5.comments_discussions {
	top: 788px;
	left: 390px;
	font-size: 9px;
	}
	
img.comments_discussions {
	top: 805px;
	left: 380px;
	width: 7px;
	}
	
.discussions_thumbnails {
	width: 150px;
	top: 824px;
	}
	
.discussions_descriptions {
	text-align: justify;
	font-size: 70%;
	width: 310px;
	top: 820px;
	left: 170px;
	}
	
.discussions_read_more {
	font-size: 12px;
	width: 76px;
	top: 871px;
	left: 170px;
	}
	
.discussions_image_source {
	top: 892px;
	}
	}