@charset "utf-8";
/* CSS Document */

.artwork_icon {
	width: 38px;
	float: left;
	position: absolute;
	top: 1238px;
	}

#artwork {
	top: 1220px;
	}

.artwork_line {
	background-color: black;
	border: 2px solid black; 
	width: 790px; 
	position: absolute;
	top: 1270px;
	}

.artwork_view_more {
	width: 80px; 
	position: absolute;
	top: 1242px;
	left: 730px;
	}

.artwork_titles {
	position: absolute;
	top: 1264px;
	}

h5.author_artworks {
	position: absolute; 
	top: 1294px;
	left: 24px;
	}

img.author_artworks {
	width: 12px;
	position: absolute;
	top: 1316px;
	left: 8px;
	}

h5.time_artworks {
	position: absolute; 
	top: 1294px;
	left: 124px;
	}

img.time_artworks {
	width: 15px;
	position: absolute;
	top: 1316px;
	left: 106px;
	}

h5.folders_artworks {
	position: absolute; 
	top: 1294px;
	left: 222px;
	}

img.folders_artworks {
	width: 16px; 
	position: absolute;
	top: 1318px;
	left: 204px;
	}

h5.comments_artworks {
	position: absolute; 
	top: 1294px;
	left: 668px;
	}

img.comments_artworks {
	width: 12px;
	position: absolute;
	top: 1318px;
	left: 652px;
	}

.artwork_thumbnails {
	position: absolute; 
	top: 1336px;
	width: 270px;
	}

.artwork_descriptions {
	width: 522px;
	position: absolute;
	left: 296px;
	}

#title {
	top: 1328px;
	}

#description {
	top: 1344px;
	}

#hashtags {
	top: 1360px;
	}

.see_full_artwork {
	width: 135px; 
	background-color: skyblue; 
	border: 2px solid black; 
	text-align: center; 
	position: absolute; 
	top: 1394px;
	left: 296px;
	}


.artwork_image_source {
	position: absolute; 
	top: 1474px;
	}

@media screen and (max-width: 830px) {
	
.artwork_line {
	width: 730px; 
	top: 1270px;
	}

.artwork_view_more { 
	top: 1240px;
	left: 670px;
	}

.artwork_titles {
	font-size: 20px;
	top: 1270px;
	}

h5.author_artworks {
	top: 1286px;
	}

img.author_artworks {
	top: 1308px;
	}

h5.time_artworks {
	top: 1286px;
	}

img.time_artworks {
	top: 1308px;
	}

h5.folders_artworks {
	top: 1286px;
	}

img.folders_artworks {
	top: 1310px;
	}

h5.comments_artworks {
	top: 1286px;
	}

img.comments_artworks {
	top: 1310px;
	}

.artwork_thumbnails {
	top: 1328px;
	}
	
.artwork_descriptions {
	font-size: 86%;
	}

#title {
	top: 1320px;
	}
	
#description {
	top: 1340px;
	}
	
#hashtags {
	top: 1360px;
	}

.see_full_artwork {
	width: 135px; 
	top: 1386px;
	}

.artwork_image_source {
	top: 1466px;
	}
	}

@media screen and (max-width: 790px) {
	
.video_line, .article_line, .news_line, .discussions_line, .artwork_line {
	width: 660px;
	}
	
.artwork_icon {
	top: 1074px;
	}
	
#artwork {
	top: 1056px;
	}
	
.artwork_line {
	top: 1106px;
	}
	
.artwork_view_more {
	top: 1078px;
	left: 600px;
	}
	
.artwork_titles {
	top: 1104px;
	}
	
h5.author_artworks, h5.time_artworks, h5.folders_artworks, h5.comments_artworks {
	width: 400px;
	font-size: 12px;
	}
	
img.author_artworks, img.comments_artworks {
	width: 10px;
	}
	
img.time_artworks, img.folders_artworks {
	width: 14px;
	}
	
h5.author_artworks {
	top: 1128px;
	font-size: 12px;
	}
	
img.author_artworks {
	top: 1148px;
	width: 10px;
	}
	
h5.time_artworks {
	top: 1128px;
	left: 116px;
	font-size: 12px;
	}
	
img.time_artworks {
	top: 1147px;
	left: 98px;
	width: 14px;
	}
	
h5.folders_artworks {
	top: 1128px;
	left: 204px;
	font-size: 12px;
	}
	
img.folders_artworks {
	top: 1150px;
	left: 186px;
	width: 14px;
	}
	
h5.comments_artworks {
	top: 1128px;
	left: 606px;
	font-size: 12px;
	}
	
img.comments_artworks {
	top: 1150px;
	left: 592px;
	width: 10px;
	}
	
.artwork_thumbnails {
	width: 196px;
	top: 1172px;
	}
	
#title {
	top: 1164px;
	left: 220px;
	}
	
#description {
	top: 1184px;
	left: 220px;
	}
	
#hashtags {
	top: 1204px;
	left: 220px;
	}
	
.see_full_artwork {
	top: 1230px;
	left: 220px;
	}
	
.artwork_image_source {
	top: 1270px;
	}
	}

@media screen and (max-width: 730px) {
	
.video_line, .article_line, .news_line, .discussions_line, .artwork_line {
	width: 610px;
	}
	
.artwork_icon {
	top: 1038px;
	}
	
#artwork {
	top: 1020px;
	}
	
.artwork_view_more {
	top: 1042px;
	left: 550px;
	}
	
.artwork_line {
	top: 1070px;
	}
	
.artwork_titles {
	font-size: 18px;
	top: 1074px
	}
	
h5.author_artworks {
	font-size: 10px;
	top: 1094px;
	left: 20px;
	}
	
img.author_artworks {
	top: 1110px;
	width: 8px;
	}
	
h5.time_artworks {
	top: 1094px;
	left: 98px;
	font-size: 10px;
	}
	
img.time_artworks {
	top: 1110px;
	left: 82px;
	width: 12px;
	}
	
h5.folders_artworks {
	top: 1094px;
	left: 172px;
	font-size: 10px;
	}
	
img.folders_artworks {
	top: 1112px;
	left: 156px;
	width: 12px;
	}
	
h5.comments_artworks {
	top: 1094px;
	left: 504px;
	font-size: 10px;
	}
	
img.comments_artworks {
	top: 1112px;
	left: 494px;
	width: 8px;
	}
	
.artwork_thumbnails {
	width: 176px;
	top: 1130px;
	}
	
.artwork_descriptions {
	font-size: 78%;
	}
	
#title {
	top: 1128px;
	left: 196px;
	}
	
#description {
	top: 1144px;
	left: 196px;;
	}
	
#hashtags {
	top: 1160px;
	left: 196px;
	}
	
.see_full_artwork {
	top: 1178px;
	left: 196px;
	}
	
.artwork_image_source {
	top: 1214px;
	}
	}

@media screen and (max-width: 640px) {
	
.video_line, .article_line, .news_line, .discussions_line, .artwork_line {
	width: 485px;
	}
	
.artwork_icon {
	top: 958px;
	}
	
#artwork {
	top: 940px;
	}
	
.artwork_line {
	top: 990px;
	}
	
.artwork_view_more {
	top: 962px;
	left: 425px;
	}
	
.artwork_titles {
	font-size: 14.6px;
	top: 995px
	}
	
h5.author_artworks {
	top: 1014px;
	left: 20px;
	font-size: 9px;
	}
	
img.author_artworks {
	top: 1029px;
	width: 7px;
	}
	
h5.time_artworks {
	top: 1014px;
	left: 89px;
	font-size: 9px;
	}
	
img.time_artworks {
	top: 1028px;
	left: 75px;
	width: 11px;
	}
	
h5.folders_artworks {
	top: 1014.5px;
	left: 155px;
	font-size: 8.6px;
	}
	
img.folders_artworks {
	top: 1030px;
	left: 142px;
	width: 10px;
	}
	
h5.comments_artworks {
	top: 1014px;
	left: 442px;
	font-size: 9px;
	}
	
img.comments_artworks {
	top: 1030px;
	left: 432px;
	width: 7px;
	}
	
.artwork_thumbnails {
	width: 150px;
	top: 1050px;
	}
	
.artwork_descriptions {
	font-size: 70%;
	}
	
#title {
	top: 1048px;
	left: 170px;
	}
	
#description {
	top: 1064px;
	left: 170px;
	}
	
#hashtags {
	top: 1080px;
	left: 170px;
	}
	
.see_full_artwork {
	font-size: 12px;
	width: 106px;
	top: 1096px;
	left: 170px;
	}
	
.artwork_image_source {
	top: 1118px;
	}
	}