@charset "utf-8";
/* CSS Document */

.follow_us, .latest_posts, .new_episodes_films, .new_shows_added {
	width: 300px;
	}

.side_line {
	background-color: black;
	border: 2px solid black; 
	width: 360px; 
	position: absolute;
	left: 74.8%;
	}

li {
	font-weight: bold;
	width: 280px;
	position: absolute;
	height: 30px;
	left: 76%;
	}

#follow_us {
	top: 142px;
	left: 74.8%;
	}

h2.follow_us {
	position: absolute;
	text-align: right;
	top: 104px;
	left: 65.5%;
	}

.social_media_icon {
	width: 25px;
	position: absolute;
	left: 75.5%;
	}

#youtube {
	top: 165px;
	}

#twitter {
	top: 194px;
	}

#instagram {
	top: 224px;
	}

#facebook {
	top: 258px;
	}

p.youtube {
	width: 400px;
	position: absolute;
	top: 148px;
	left: 78%;
	}
p.twitter {
	width: 400px;
	position: absolute;
	top: 178px;
	left: 78%;
	}

p.instagram {
	width: 400px;
	position: absolute;
	top: 210px;
	left: 78%;
	}

p.facebook {
	width: 400px;
	position: absolute;
	top: 246px;
	left: 78%;
	}

#latest_posts {
	top: 322px;
	}

h2.latest_posts {
	position: absolute;
	text-align: right;
	top: 284px;
	left: 67.5%;
	}

#latest_posts_Entry1 {
	width: 400px;
	position: absolute;
	top: 315px;
	}

#latest_posts_Entry2 {
	width: 400px;
	position: absolute;
	top: 340px;
	}

#latest_posts_Entry3 {
	width: 400px;
	position: absolute;
	top: 365px;
	}

#latest_posts_Entry4 {
	width: 400px;
	position: absolute;
	top: 390px;
	}

#latest_posts_Entry5 {
	position: absolute;
	top: 415px;
	}

h2.new_episodes_films {
	position: absolute;
	text-align: right;
	top: 460px;
	left: 73.5%;
	}

#new_episodes_films {
	position: absolute;
	top: 498px;
	}

#new_episodes_films_Entry1 {
	position: absolute;
	top: 490px; 
	}

#new_episodes_films_Entry2 {
	position: absolute;
	top: 510px; 
	}

#new_episodes_films_Entry3 {
	position: absolute;
	top: 530px;
	}

#new_episodes_films_Entry4 {
	position: absolute;
	top: 550px;
	}

#new_episodes_films_Entry5 {
	position: absolute;
	top: 570px;
	}

#new_episodes_films_Entry6 {
	position: absolute;
	top: 590px;
	}

h2.new_shows_added {
	position: absolute;
	text-align: right;
	top: 628px;
	left: 72%
	}

#new_shows_added {
	position: absolute;
	top: 666px;
	}

#new_shows_added_Entry1 {
	position: absolute;
	top: 654px; 
	}

#new_shows_added_Entry2 {
	position: absolute;
	top: 674px; 
	}

#new_shows_added_Entry3 {
	position: absolute;
	top: 694px;
	}

#new_shows_added_Entry4 {
	position: absolute;
	top: 714px;
	}

#new_shows_added_Entry5 {
	position: absolute;
	top: 734px;
	}

.footnote {
	width: 400px;
	height: 20px;
	left: 0px;
	position: absolute;
	top: 1500px;
	}

.footnote_line {
	background-color: darkgray;
	border: 1px solid darkgray; 
	width: 225px;
	position: absolute;
	top: 26px;
	left: 2px;
	}

footnote {
	background-color: dimgray;
	width: 100%;
	height: 200px;
	left: 0px;
	position: absolute;
	top: 1550px;
	}

p.footnote {
	position: absolute;
	}

#site_stuff_head {
	top: 0px;
	left: 2px;
	}

#site_stuff_item1 {
	top: 22px;
	left: 2px;
	}

#site_stuff_item2 {
	top: 42px;
	left: 2px;
	}

#contacts {
	top: 26px;
	left: 262px;
	}

#contacts_head {
	top: 0px;
	left: 262px;
	}

#contacts_item1 {
	top: 22px;
	left: 262px;
	}

#contacts_item2 {
	top: 42px;
	left: 262px;
	}

#partners {
	width: 600px;
	top: 102px;
	left: 2px;
	}

#partners_head {
	top: 76px;
	left: 2px;
	}

#partners_item1 {
	top: 98px;
	left: 2px;
	}

#partners_item2 {
	top: 118px;
	left: 2px;
	}

#partners_item3 {
	top: 98px;
	left: 130px;
	}

#partners_item4 {
	top: 118px;
	left: 132px;
	}

#partners_item5 {
	top: 98px;
	left: 260px;
	}

#partners_item6 {
	top: 118px;
	left: 262px;
	}

#copyright {
	width: 99%;
	background-color: black;
	border: 1px solid black;
	position: absolute;
	top: 162px;
	left: 6px;
	}

#copyright_text {
	top: 156px;
	left: 6px;
	}

@media screen and (max-width: 1250px) { /* Moves them to the bottom in a three and one row setup, moves footnote down accordingly */
	
.follow_us, .latest_posts, .new_episodes_films, .new_shows_added {
	width: 300px;
	}
	
#follow_us {
	top: 1542px;
	left: 8px;
	}

h2.follow_us {
	text-align: left;
	top: 1504px;
	left: 18px;
	}

.social_media_icon {
	width: 25px;
	left: 18px;
	}

#youtube {
	top: 1565px;
	}

#twitter {
	top: 1594px;
	}

#instagram {
	top: 1624px;
	}

#facebook {
	top: 1658px;
	}

p.youtube {
	width: 400px;
	top: 1548px;
	left: 50px;
	}
p.twitter {
	width: 400px;
	top: 1578px;
	left: 50px;
	}

p.instagram {
	width: 400px;
	position: absolute;
	top: 1610px;
	left: 50px;
	}

p.facebook {
	width: 400px;
	position: absolute;
	top: 1646px;
	left: 50px;
	}

#latest_posts {
	top: 1542px;
	left: 400px;
	}

h2.latest_posts {
	text-align: left;
	top: 1504px;
	left: 410px;
	}

#latest_posts_Entry1 {
	top: 1535px;
	left: 420px;
	}

#latest_posts_Entry2 {
	top: 1555px;
	left: 420px;
	}

#latest_posts_Entry3 {
	top: 1575px;
	left: 420px;
	}

#latest_posts_Entry4 {
	top: 1595px;
	left: 420px;
	}

#latest_posts_Entry5 {
	top: 1615px;
	left: 420px;
	}

h2.new_episodes_films {
	text-align: left;
	top: 1504px;
	left: 810px;
	}

#new_episodes_films {
	top: 1542px;
	left: 800px;
	}

#new_episodes_films_Entry1 {
	top: 1535px;
	left: 820px;
	}

#new_episodes_films_Entry2 {
	top: 1555px;
	left: 820px;
	}

#new_episodes_films_Entry3 {
	top: 1575px;
	left: 820px;
	}

#new_episodes_films_Entry4 {
	top: 1595px;
	left: 820px;
	}

#new_episodes_films_Entry5 {
	top: 1615px;
	left: 820px;
	}

#new_episodes_films_Entry6 {
	top: 1635px;
	left: 820px;
	}
	
h2.new_shows_added {
	text-align: left;
	top: 1688px;
	left: 18px;
	}

#new_shows_added {
	top: 1726px;
	left: 8px;
	}

#new_shows_added_Entry1 {
	top: 1714px;
	left: 28px;
	}

#new_shows_added_Entry2 {
	top: 1734px;
	left: 28px;
	}

#new_shows_added_Entry3 {
	top: 1754px;
	left: 28px;
	}

#new_shows_added_Entry4 {
	top: 1774px;
	left: 28px;
	}

#new_shows_added_Entry5 {
	top: 1794px;
	left: 28px;
	}
	
footnote {
	top: 1890px;
	}
	}

@media screen and (max-width: 1170px) { /* Moves them to the bottom in a two and two row setup */

h2.new_episodes_films {
	top: 1688px;
	left: 18px;
	}

#new_episodes_films {
	top: 1728px;
	left: 8px;
	}

#new_episodes_films_Entry1 {
	top: 1714px;
	left: 28px;
	}

#new_episodes_films_Entry2 {
	top: 1734px;
	left: 28px;
	}

#new_episodes_films_Entry3 {
	top: 1754px;
	left: 28px;
	}

#new_episodes_films_Entry4 {
	top: 1794px;
	left: 28px;
	}

#new_episodes_films_Entry5 {
	top: 1814px;
	left: 28px;
	}

#new_episodes_films_Entry6 {
	top: 1834px;
	left: 28px;
	}
	
h2.new_shows_added {
	text-align: left;
	top: 1688px;
	left: 410px;
	}

#new_shows_added {
	top: 1726px;
	left: 400px;
	}

#new_shows_added_Entry1 {
	top: 1714px;
	left: 420px;
	}

#new_shows_added_Entry2 {
	top: 1734px;
	left: 420px;
	}

#new_shows_added_Entry3 {
	top: 1754px;
	left: 420px;
	}

#new_shows_added_Entry4 {
	top: 1774px;
	left: 420px;
	}

#new_shows_added_Entry5 {
	top: 1794px;
	left: 420px;
	}
	
footnote {
	top: 1910px;
	}
	}

@media screen and (max-width: 830px) { /* Moves them to the bottom in a single column setup, moves footnote down accordingly */

#latest_posts {
	top: 1720px;
	left: 8px;
	}

h2.latest_posts {
	top: 1680px;
	left: 18px;
	}

#latest_posts_Entry1 {
	top: 1706px;
	left: 28px;
	}

#latest_posts_Entry2 {
	top: 1726px;
	left: 28px;
	}

#latest_posts_Entry3 {
	top: 1746px;
	left: 28px;
	}

#latest_posts_Entry4 {
	top: 1766px;
	left: 28px;
	}

#latest_posts_Entry5 {
	top: 1786px;
	left: 28px;
	}

h2.new_episodes_films {
	top: 1850px;
	left: 18px;
	}

#new_episodes_films {
	top: 1890px;
	left: 8px;
	}

#new_episodes_films_Entry1 {
	top: 1876px;
	left: 28px;
	}

#new_episodes_films_Entry2 {
	top: 1896px;
	left: 28px;
	}

#new_episodes_films_Entry3 {
	top: 1916px;
	left: 28px;
	}

#new_episodes_films_Entry4 {
	top: 1936px;
	left: 28px;
	}

#new_episodes_films_Entry5 {
	top: 1956px;
	left: 28px;
	}

#new_episodes_films_Entry6 {
	top: 1976px;
	left: 28px;
	}
	
h2.new_shows_added {
	text-align: left;
	top: 2018px;
	left: 18px;
	}

#new_shows_added {
	top: 2060px;
	left: 8px;
	}

#new_shows_added_Entry1 {
	top: 2048px;
	left: 28px;
	}

#new_shows_added_Entry2 {
	top: 2068px;
	left: 28px;
	}

#new_shows_added_Entry3 {
	top: 2088px;
	left: 28px;
	}

#new_shows_added_Entry4 {
	top: 2108px;
	left: 28px;
	}

#new_shows_added_Entry5 {
	top: 2128px;
	left: 28px;
	}
	
footnote {
	top: 2252px;
	}
	}

@media screen and (max-width: 790px) { /* Moves them up in relation to the main content moving, moves footnote up accordingly */
	
#follow_us {
	top: 1392px;
	left: 8px;
	}

h2.follow_us {
	text-align: left;
	top: 1354px;
	left: 18px;
	}

#youtube {
	top: 1415px;
	}

#twitter {
	top: 1444px;
	}

#instagram {
	top: 1474px;
	}

#facebook {
	top: 1508px;
	}

p.youtube {
	top: 1398px;
	}

p.twitter {
	top: 1428px;
	}

p.instagram {
	top: 1460px;
	}

p.facebook {
	top: 1496px;
	}
	
#latest_posts {
	top: 1572px;
	}

h2.latest_posts {
	top: 1532px;
	}

#latest_posts_Entry1 {
	top: 1558px;
	}

#latest_posts_Entry2 {
	top: 1578px;
	}

#latest_posts_Entry3 {
	top: 1598px;
	}

#latest_posts_Entry4 {
	top: 1618px;
	}

#latest_posts_Entry5 {
	top: 1638px;
	}

h2.new_episodes_films {
	top: 1672px;
	}

#new_episodes_films {
	top: 1712px;
	}

#new_episodes_films_Entry1 {
	top: 1698px;
	}

#new_episodes_films_Entry2 {
	top: 1718px;
	}

#new_episodes_films_Entry3 {
	top: 1738px;
	}

#new_episodes_films_Entry4 {
	top: 1758px;
	}

#new_episodes_films_Entry5 {
	top: 1778px;
	}

#new_episodes_films_Entry6 {
	top: 1798px;
	}
	
h2.new_shows_added {
	top: 1840px;
	}

#new_shows_added {
	top: 1882px;
	}

#new_shows_added_Entry1 {
	top: 1880px;
	}

#new_shows_added_Entry2 {
	top: 1900px;
	}

#new_shows_added_Entry3 {
	top: 1920px;
	}

#new_shows_added_Entry4 {
	top: 1940px;
	}

#new_shows_added_Entry5 {
	top: 1960px;
	}
	
footnote {
	top: 2084px;
	}
	}

@media screen and (max-width: 780px) { /* Moves them up in relation to the main content moving, moves footnote up accordingly */
	
#latest_posts {
	top: 1578px;
	}

h2.latest_posts {
	top: 1538px;
	}

#latest_posts_Entry1 {
	top: 1564px;
	}

#latest_posts_Entry2 {
	top: 1584px;
	}

#latest_posts_Entry3 {
	top: 1604px;	}

#latest_posts_Entry4 {
	top: 1624px;
	}

#latest_posts_Entry5 {
	top: 1644px;
	}

h2.new_episodes_films {
	top: 1688px;
	}

#new_episodes_films {
	top: 1728px;
	}

#new_episodes_films_Entry1 {
	top: 1714px;
	}

#new_episodes_films_Entry2 {
	top: 1734px;
	}

#new_episodes_films_Entry3 {
	top: 1754px;
	}

#new_episodes_films_Entry4 {
	top: 1774px;
	}

#new_episodes_films_Entry5 {
	top: 1794px;
	}

#new_episodes_films_Entry6 {
	top: 1814px;
	}
	
h2.new_shows_added {
	top: 1846px;
	}

#new_shows_added {
	top: 1888px;
	}

#new_shows_added_Entry1 {
	top: 1876px;
	}

#new_shows_added_Entry2 {
	top: 1896px;
	}

#new_shows_added_Entry3 {
	top: 1916px;
	}

#new_shows_added_Entry4 {
	top: 1936px;
	}

#new_shows_added_Entry5 {
	top: 1956px;
	}
	
footnote {
	top: 2080px;
	}
	}

@media screen and (max-width: 730px) { /* Moves them up in relation to the main content moving, moves footnote up accordingly */
	
#latest_posts {
	top: 1572px;
	}

h2.latest_posts {
	top: 1532px;
	}

#latest_posts_Entry1 {
	top: 1558px;
	}

#latest_posts_Entry2 {
	top: 1578px;
	}

#latest_posts_Entry3 {
	top: 1598px;
	}

#latest_posts_Entry4 {
	top: 1618px;
	}

#latest_posts_Entry5 {
	top: 1638px;
	}

h2.new_episodes_films {
	top: 1672px;
	}

#new_episodes_films {
	top: 1712px;
	}

#new_episodes_films_Entry1 {
	top: 1698px;
	}

#new_episodes_films_Entry2 {
	top: 1718px;
	}

#new_episodes_films_Entry3 {
	top: 1738px;
	}

#new_episodes_films_Entry4 {
	top: 1758px;
	}

#new_episodes_films_Entry5 {
	top: 1778px;
	}

#new_episodes_films_Entry6 {
	top: 1798px;
	}
	
h2.new_shows_added {
	top: 1840px;
	}

#new_shows_added {
	top: 1880px;
	}

#new_shows_added_Entry1 {
	top: 1870px;
	}

#new_shows_added_Entry2 {
	top: 1890px;
	}

#new_shows_added_Entry3 {
	top: 1910px;
	}

#new_shows_added_Entry4 {
	top: 1930px;
	}

#new_shows_added_Entry5 {
	top: 1950px;
	}
	
footnote {
	top: 2074px;
	}
	}