@charset "utf-8";
/* CSS Document */

a { /* For the links to look like hwo they do normally */
	text-decoration: underline;
	color: blue;
	}

span { /* For the italic text */
	font-style: italic;
	}

h3, p { /* Defaults position setting */
	position: absolute;
	}

/* Defines the position of the text */

h3 {
	top: 100px;
	}

#social_media_icons {
	top: 130px;
	}

#social_media_icons_1 {
	top: 160px;
	}

#other_icons {
	top: 230px;
	}

#other_icons_1 {
	top: 260px;
	}

#other_icons_2 {
	top: 280px;
	}

#other_icons_3 {
	top: 300px;
	}

#other_icons_4 {
	top: 320px;
	}

#thumbnails {
	top: 390px;
	}

#thumbnails_1 {
	top: 420px;
	}

#thumbnails_2 {
	top: 450px;
	}

#thumbnails_3 {
	top: 480px;
	}

#thumbnails_4 {
	top: 510px;
	}

#artwork {
	top: 580px;
	}

#artwork_1 {
	top: 610px;
	}

#video_sources {
	top: 680px;
	}

#video1 {
	top: 710px;
	}

#video2 {
	top: 740px;
	}

#video3 {
	top: 770px;
	}

#video4 {
	top: 800px;
	}

#video5 {
	top: 830px;
	}
