@charset "utf-8";
/* CSS Document */

.video4_titles {
	position: absolute;
	top: 860px;
	}

h5.author_video4 {
	position: absolute; 
	top: 890px;
	left: 24px;
	}

img.author_video4 {
	width: 12px;
	position: absolute;
	top: 912px;
	}

h5.time_video4 {
	position: absolute; 
	top: 890px;
	left: 144px;
	}

img.time_video4 {
	width: 15px;
	position: absolute;
	top: 912px;
	left: 124px;
	}

h5.folders_video4 {
	position: absolute; 
	top: 890px;
	left: 242px;
	}

img.folders_video4 {
	width: 18px;
	position: absolute;
	top: 914px;
	left: 220px;
	}

h5.comments_video4 {
	position: absolute; 
	top: 890px;
	left: 618px;
	}

img.comments_video4 {
	width: 12px;
	position: absolute;
	top: 914px;
	left: 602px;
	}

.preview4 {
	position: absolute; 
	top: 932px;
	width: 270px;
	height: 150px;
	}

.video4_descriptions {
	font-size: 14px;
	text-align: justify;
	width: 460px;
	position: absolute;
	top: 952px;
	left: 296px;
	}

.video4_read_more {
	width: 95px; 
	background-color: skyblue; 
	border: 2px solid black; 
	text-align: center; 
	position: absolute; 
	top: 1008px;
	left: 296px;
	}

.video4_image_source {
	position: absolute; 
	top: 1064px;
	}

@media screen and (max-width: 940px) { /* Reduces the size of the title */

.video4_titles {
	font-size: 20px;
	top: 850px;
	}
	
h5.author_video4 { 
	top: 870px;
	}

img.author_video4 {
	top: 892px;
	}

h5.time_video4 {
	top: 870px;
	left: 144px;
	}

img.time_video4 {
	top: 892px;
	}

h5.folders_video4 {
	top: 870px;
	left: 242px;
	}

img.folders_video4 {
	top: 894px;
	left: 220px;
	}

h5.comments_video4 {
	top: 870px;
	left: 618px;
	}

img.comments_video4 {
	top: 894px;
	left: 602px;
	}
	
.preview4 {
	top: 914px;
	}
	
.video4_descriptions {
	top: 932px;
	}

.video4_read_more {
	top: 988px;
	}
	
.video4_image_source {
	top: 1044px;
	}
	
	}
	
@media screen and (max-width: 790px) { /* Reduces the size of the title, info, thumbnail, description, etc., moves section up */
	
.video4_titles {
	font-size: 20px;
	top: 734px;
	}
	
h5 {
	width: 400px;
	}
	
h5.author_video4 {
	font-size: 12px;
	top: 756px;
	}
	
img.author_video4 {
	top: 776px;
	width: 10px;
	}
	
h5.time_video4 {
	top: 756px;
	left: 136px;
	font-size: 12px;
	}
	
img.time_video4 {
	top: 776px;
	left: 116px;
	width: 14px;
	}
	
h5.folders_video4 {
	top: 756px;
	left: 224px;
	font-size: 12px;
	}
	
img.folders_video4 {
	top: 778px;
	left: 206px;
	width: 14px;
	}
	
h5.comments_video4 {
	top: 756px;
	left: 566px;
	font-size: 12px;
	}
	
img.comments_video4 {
	top: 776px;
	left: 552px;
	width: 10px;
	}
	
.preview4 {
	width: 196px;
	height: 110px;
	top: 796px;
	}
	
.video4_descriptions {
	width: 500px;
	font-size: 86%;
	top: 796px;
	left: 220px;
	}
	
.video4_read_more {
	top: 852px;
	left: 220px;
	}
	
.video4_image_source {
	top: 888px;
	}
	}

@media screen and (max-width: 780px) { /* Reduces the size of the title, info, thumbnail, description, etc., moves section up */
	
.video4_titles {
	font-size: 18px;
	top: 672px
	}
	
h5.author_video4 {
	font-size: 10px;
	top: 694px;
	left: 20px;
	}
	
img.author_video4 {
	top: 710px;
	width: 8px;
	}
	
h5.time_video4 {
	top: 694px;
	left: 110px;
	font-size: 10px;
	}
	
img.time_video4 {
	top: 710px;
	left: 94px;
	width: 12px;
	}
	
h5.folders_video4 {
	top: 694px;
	left: 182px;
	font-size: 10px;
	}
	
img.folders_video4 {
	top: 711.8px;
	left: 166px;
	width: 12px;
	}
	
h5.comments_video4 {
	top: 694px;
	left: 466px;
	font-size: 10px;
	}
	
img.comments_video4 {
	top: 712px;
	left: 454px;
	width: 8px;
	}
	
.preview4 {
	width: 176px;
	height: 100px;
	top: 728px;
	}
	
.video4_descriptions {
	font-size: 74%;
	width: 430px;
	top: 730px;
	left: 196px;
	}
	
.video4_read_more {
	top: 772px;
	left: 196px;
	}
	
.video4_image_source {
	top: 812px;
	}
	
	}

@media screen and (max-width: 730px) { /* Reduces the size of the title, info, thumbnail, description, etc., moves section up */
	
.video4_titles {
	font-size: 14.6px;
	top: 626px
	}
	
h5.author_video4 {
	top: 642px;
	left: 18px;
	font-size: 9px;
	}
	
img.author_video4 {
	top: 657px;
	width: 7px;
	}
	
h5.time_video4 {
	top: 642px;
	left: 100px;
	font-size: 9px;
	}
	
img.time_video4 {
	top: 657px;
	left: 86px;
	width: 11px;
	}
	
h5.folders_video4 {
	top: 642px;
	left: 164px;
	font-size: 9px;
	}
	
img.folders_video4 {
	top: 658px;
	left: 150px;
	width: 11px;
	}
	
h5.comments_video4 {
	top: 642px;
	left: 418px;
	font-size: 9px;
	}
	
img.comments_video4 {
	top: 658px;
	left: 408px;
	width: 8px;
	}
	
.preview4 {
	width: 150px;
	height: 90px;
	top: 675px;
	}
	
.video4_descriptions {
	text-align: justify;
	font-size: 60%;
	width: 320px;
	top: 677px;
	left: 170px;
	}
	
.video4_read_more {
	font-size: 12px;
	width: 76px;
	top: 711px;
	left: 170px;
	}
	
.video4_image_source {
	top: 743px;
	} 

}
