@charset "utf-8";
/* CSS Document */

.video2_titles {
	position: absolute;
	top: 380px;
	}

h5.author_video2 {
	position: absolute; 
	top: 410px;
	left: 24px;
	}

img.author_video2 {
	width: 12px;
	position: absolute;
	top: 432px;
	}

h5.time_video2 {
	position: absolute; 
	top: 408px;
	left: 148px;
	}

img.time_video2 {
	width: 15px;
	position: absolute;
	top: 430px;
	left: 130px;
	}

h5.folders_video2 {
	position: absolute; 
	top: 408px;
	left: 248px;
	}

img.folders_video2 {
	width: 18px;
	position: absolute;
	top: 432px;
	left: 226px;
	}

h5.comments_video2 {
	position: absolute; 
	top: 408px;
	left: 632px;
	}

img.comments_video2 {
	width: 12px;
	position: absolute;
	top: 432px;
	left: 616px;
	}

.preview2 {
	position: absolute; 
	top: 452px;
	width: 270px;
	height: 150px;
	}

.video2_descriptions {
	font-size: 14px;
	text-align: justify;
	width: 522px;
	position: absolute;
	top: 452px;
	left: 296px;
	}

.video2_read_more {
	width: 95px; 
	background-color: skyblue; 
	border: 2px solid black; 
	text-align: center; 
	position: absolute; 
	top: 538px;
	left: 296px;
	}

.video2_image_source {
	position: absolute; 
	top: 584px;
	}

@media screen and (max-width: 940px) { /* Reduces the size of the title and description */

.video2_titles {
	font-size: 20px;
	top: 388px;
	}
	
h5.author_video2 { 
	top: 408px;
	}

img.author_video2 {
	width: 12px;
	top: 430px;
	}

h5.time_video2 {
	top: 408px;
	left: 148px;
	}

img.time_video2 {
	width: 15px;
	top: 430px;
	}

h5.folders_video2 {
	top: 408px;
	left: 246px;
	}

img.folders_video2 {
	width: 18px;
	top: 432px;
	left: 226px;
	}

h5.comments_video2 {
	top: 408px;
	left: 628px;
	}

img.comments_video2 {
	width: 12px;
	top: 432px;
	left: 614px;
	}
	
.video2_descriptions {
	width: 428px;
	top: 446px;
	}

.video2_read_more {
	width: 95px; 
	top: 548px;
	}
	
	}
	
@media screen and (max-width: 790px) { /* Reduces the size of the title, info, thumbnail, description, etc., moves section up */
	
.video2_titles {
	font-size: 20px;
	top: 352px;
	}
	
h5 {
	width: 400px;
	}
	
h5.author_video2 {
	font-size: 12px;
	top: 372px;
	}
	
img.author_video2 {
	top: 392px;
	width: 10px;
	}
	
h5.time_video2 {
	top: 373px;
	left: 136px;
	font-size: 12px;
	}
	
img.time_video2 {
	top: 392px;
	left: 118px;
	width: 14px;
	}
	
h5.folders_video2 {
	top: 373px;
	left: 226px;
	font-size: 12px;
	}
	
img.folders_video2 {
	top: 393.8px;
	left: 206px;
	width: 14px;
	}
	
h5.comments_video2 {
	top: 372px;
	left: 572px;
	font-size: 12px;
	}
	
img.comments_video2 {
	top: 394px;
	left: 558px;
	width: 10px;
	}
	
.preview2 {
	width: 196px;
	height: 110px;
	top: 416px;
	}
	
.video2_descriptions {
	width: 500px;
	font-size: 86%;
	top: 406px;
	left: 220px;
	}
	
.video2_read_more {
	top: 482px;
	left: 220px;
	}
	
.video2_image_source {
	top: 508px;
	}
	}

@media screen and (max-width: 780px) { /* reduces the size of the title, info, thumbnail, description, etc., moves section up */
	
.video2_titles {
	font-size: 18px;
	top: 320px
	}
	
h5.author_video2 {
	font-size: 10px;
	top: 342px;
	left: 20px;
	}
	
img.author_video2 {
	top: 358px;
	width: 8px;
	}
	
h5.time_video2 {
	top: 342px;
	left: 114px;
	font-size: 10px;
	}
	
img.time_video2 {
	top: 358px;
	left: 98px;
	width: 12px;
	}
	
h5.folders_video2 {
	top: 342px;
	left: 190px;
	font-size: 10px;
	}
	
img.folders_video2 {
	top: 359.8px;
	left: 174px;
	width: 12px;
	}
	
h5.comments_video2 {
	top: 342px;
	left: 480px;
	font-size: 10px;
	}
	
img.comments_video2 {
	top: 360px;
	left: 468px;
	width: 8px;
	}
	
.preview2 {
	width: 176px;
	height: 100px;
	top: 376px;
	}
	
.video2_descriptions {
	font-size: 74%;
	width: 430px;
	top: 368px;
	left: 196px;
	}
	
.video2_read_more {
	top: 430px;
	left: 196px;
	}
	
.video2_image_source {
	top: 460px;
	}
	
	}

@media screen and (max-width: 730px) { /* reduces the size of the title, info, thumbnail, description, etc., moves section up */
	
.video2_titles {
	font-size: 14.6px;
	top: 310px
	}
	
h5.author_video2 {
	top: 326px;
	left: 18px;
	font-size: 9px;
	}
	
img.author_video2 {
	top: 341px;
	width: 7px;
	}
	
h5.time_video2 {
	top: 326px;
	left: 104px;
	font-size: 9px;
	}
	
img.time_video2 {
	top: 341px;
	left: 90px;
	width: 11px;
	}
	
h5.folders_video2 {
	top: 326px;
	left: 172px;
	font-size: 9px;
	}
	
img.folders_video2 {
	top: 342px;
	left: 158px;
	width: 11px;
	}
	
h5.comments_video2 {
	top: 326px;
	left: 432px;
	font-size: 9px;
	}
	
img.comments_video2 {
	top: 342px;
	left: 422px;
	width: 8px;
	}
	
.preview2 {
	width: 150px;
	height: 90px;
	top: 359px;
	}
	
.video2_descriptions {
	text-align: justify;
	font-size: 60%;
	width: 350px;
	top: 351px;
	left: 170px;
	}
	
.video2_read_more {
	font-size: 12px;
	width: 76px;
	top: 408px;
	left: 170px;
	}
	
.video2_image_source {
	top: 427px;
	} 

}

@media screen and (max-width: 576px) { /* Moves the info, thumbnail, description, etc. down a notch */
	
h5.author_video2 {
	top: 340px;
	}
	
img.author_video2 {
	top: 357px;
	}
	
h5.time_video2 {
	top: 340px;
	}
	
img.time_video2 {
	top: 355px;
	}
	
h5.folders_video2 {
	top: 340px;
	}
	
img.folders_video2 {
	top: 356px;
	}
	
h5.comments_video2 {
	top: 340px;
	}
	
img.comments_video2 {
	top: 356px;
	}
	
.preview2 {
	top: 373px;
	}
	
.video2_descriptions {
	top: 365px;
	}
	
.video2_read_more {
	top: 422px;
	}
	
.video2_image_source {
	top: 441px;
	} 
}
